blockquote, body, button, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(86, 60, 60, 0);
}

body {
  line-height: 24px;
  font: 14px Microsoft YaHei, Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
}

a:active,a:hover {
  outline: 0
}

img {
  border: none
}

li {
  list-style: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

h4,h5,h6 {
  font-size: 100%
}

button,input,optgroup,option,select,textarea {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  outline: 0
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word
}

hr {
  height: 1px;
  margin: 10px 0;
  border: 0;
  clear: both
}

a {
  color: #333;
  text-decoration: none
}

a:hover {
  color: #777
}

.k-clear {
  clear: both;
  *zoom: 1
}

.k-clear:after, .k-row:after, .k-row-col-3:after {
  content: '';
  clear: both;
  *zoom: 1;
  display: block;
  height: 0
}

.k-show{
  display: none;
}

.k-hide{
  display: none;
}

.k-inline {
  *display: inline;
  *zoom: 1
}

.k-inline,img {
  display: inline-block;
  vertical-align: middle
}

.k-container {
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box
}

.k-btn{
  display: inline-block;
  padding: 5px 10px; margin: 0;
  border: 1px solid #efefef; border-radius: 5px;
  background: #fff;
  font-size: 12px; color: #000;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
}

.k-btn-abnormal{
  background: #1E9FFF;
  padding: 6px 11px;
  border:0;
  color: #fff;
}

.k-btn-big{
  padding: 10px 20px; margin: 0;
}

.k-btn-square{
  padding: 0px;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.k-input{
  display: inline-block;
  padding: 5px 10px; margin: 0;
  border: 1px solid #efefef;
}

.k-btn-add{
  font-size: 18px; font-weight: bold;
}

.k-break-word{
  word-break: break-all;
  word-wrap: break-word;
}

.k-v-bottom{
  vertical-align: bottom;
}

.k-right{
  float: right;
}

.k-table{
  width: 100%;
  background-color: #fff;
  color: #666;
}

.k-table>thead>tr>td, .k-table>thead>tr>th, .k-table>tbody>tr>td, .k-table>tbody>tr>th {
  position: relative;
  padding: 9px 15px;
  min-height: 20px;
  line-height: 20px;
  font-size: 14px;
}

.k-table>thead>tr>td, .k-table>thead>tr>th, .k-table>tbody>tr>td, .k-table>tbody>tr>th {
  border-width: 1px;
  border-style: solid;
  border-color: #e6e6e6;
  word-break: break-all;
  word-wrap: break-word;
}

.k-table>thead>tr>th,.k-table>tbody>tr>th {
  text-align: left;
  font-weight: 400;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
.k-text-center{
  text-align: center;
}

.k-m-top-10{
  margin-top: 10px;
}

.k-a4-page{
  max-width: 594.3pt;
  margin: 0 auto;
}


.k-row, .k-row-col-3{
  content: '';
  display: block;
  clear: both;
  *zoom:1;
  position: relative;
}


.k-row>.k-c-left, .k-row>.k-c-center, .k-row>.k-c-right{
  float: left;
  width: 50%;
}


.k-row-col-3>.k-c-left, .k-row-col-3>.k-c-center, .k-row-col-3>.k-c-right{
  float: left;
  width: 33.333%;
}

.k-row>.k-c-right, .k-row-col-3>.k-c-right{
  float: right;
  text-align: right;
}

.k-row>.k-c-center, .k-row-col-3>.k-c-center{
  text-align: center;
}

.k-p-bottom{
  position: absolute;
  bottom: 0;
}

.k-col-lg-1,.k-col-lg-10,.k-col-lg-11,.k-col-lg-12,.k-col-lg-2,.k-col-lg-3,.k-col-lg-4,.k-col-lg-5,.k-col-lg-6,.k-col-lg-7,.k-col-lg-8,.k-col-lg-9,.k-col-md-1,.k-col-md-10,.k-col-md-11,.k-col-md-12,.k-col-md-2,.k-col-md-3,.k-col-md-4,.k-col-md-5,.k-col-md-6,.k-col-md-7,.k-col-md-8,.k-col-md-9,.k-col-sm-1,.k-col-sm-10,.k-col-sm-11,.k-col-sm-12,.k-col-sm-2,.k-col-sm-3,.k-col-sm-4,.k-col-sm-5,.k-col-sm-6,.k-col-sm-7,.k-col-sm-8,.k-col-sm-9,.k-col-xs-1,.k-col-xs-10,.k-col-xs-11,.k-col-xs-12,.k-col-xs-2,.k-col-xs-3,.k-col-xs-4,.k-col-xs-5,.k-col-xs-6,.k-col-xs-7,.k-col-xs-8,.k-col-xs-9 {
  position: relative;
  display: block;
  box-sizing: border-box;
}

.k-col-xs-1,.k-col-xs-10,.k-col-xs-11,.k-col-xs-12,.k-col-xs-2,.k-col-xs-3,.k-col-xs-4,.k-col-xs-5,.k-col-xs-6,.k-col-xs-7,.k-col-xs-8,.k-col-xs-9 {
  float: left;
}

.k-col-xs-1 {
  width: 8.33333333%
}

.k-col-xs-2 {
  width: 16.66666667%
}

.k-col-xs-3 {
  width: 25%
}

.k-col-xs-4 {
  width: 33.33333333%
}

.k-col-xs-5 {
  width: 41.66666667%
}

.k-col-xs-6 {
  width: 50%
}

.k-col-xs-7 {
  width: 58.33333333%
}

.k-col-xs-8 {
  width: 66.66666667%
}

.k-col-xs-9 {
  width: 75%
}

.k-col-xs-10 {
  width: 83.33333333%
}

.k-col-xs-11 {
  width: 91.66666667%
}

.k-col-xs-12 {
  width: 100%
}

.k-col-xs-offset--1 {
  margin-left: 8.33333333%
}

.k-col-xs-offset--2 {
  margin-left: 16.66666667%
}

.k-col-xs-offset--3 {
  margin-left: 25%
}

.k-col-xs-offset--4 {
  margin-left: 33.33333333%
}

.k-col-xs-offset--5 {
  margin-left: 41.66666667%
}

.k-col-xs-offset--6 {
  margin-left: 50%
}

.k-col-xs-offset--7 {
  margin-left: 58.33333333%
}

.k-col-xs-offset--8 {
  margin-left: 66.66666667%
}

.k-col-xs-offset--9 {
  margin-left: 75%
}

.k-col-xs-offset--10 {
  margin-left: 83.33333333%
}

.k-col-xs-offset--11 {
  margin-left: 91.66666667%
}

.k-col-xs-offset--12 {
  margin-left: 100%
}



@media screen and (min-width:768px) {
  .k-container {
    width: 750px
  }

  .k-col-sm-1,.k-col-sm-2,.k-col-sm-3,.k-col-sm-4,.k-col-sm-5,.k-col-sm-6,.k-col-sm-7,.k-col-sm-8,.k-col-sm-9,.k-col-sm-10,.k-col-sm-11,.k-col-sm-12 {
    float: left
  }

  .k-col-sm-1 {
    width: 8.33333333%
  }

  .k-col-sm-2 {
    width: 16.66666667%
  }

  .k-col-sm-3 {
    width: 25%
  }

  .k-col-sm-4 {
    width: 33.33333333%
  }

  .k-col-sm-5 {
    width: 41.66666667%
  }

  .k-col-sm-6 {
    width: 50%
  }

  .k-col-sm-7 {
    width: 58.33333333%
  }

  .k-col-sm-8 {
    width: 66.66666667%
  }

  .k-col-sm-9 {
    width: 75%
  }

  .k-col-sm-10 {
    width: 83.33333333%
  }

  .k-col-sm-11 {
    width: 91.66666667%
  }

  .k-col-sm-12 {
    width: 100%
  }

  .k-col-sm-offset--1 {
    margin-left: 8.33333333%
  }

  .k-col-sm-offset--2 {
    margin-left: 16.66666667%
  }

  .k-col-sm-offset--3 {
    margin-left: 25%
  }

  .k-col-sm-offset--4 {
    margin-left: 33.33333333%
  }

  .k-col-sm-offset--5 {
    margin-left: 41.66666667%
  }

  .k-col-sm-offset--6 {
    margin-left: 50%
  }

  .k-col-sm-offset--7 {
    margin-left: 58.33333333%
  }

  .k-col-sm-offset--8 {
    margin-left: 66.66666667%
  }

  .k-col-sm-offset--9 {
    margin-left: 75%
  }

  .k-col-sm-offset--10 {
    margin-left: 83.33333333%
  }

  .k-col-sm-offset--11 {
    margin-left: 91.66666667%
  }

  .k-col-sm-offset--12 {
    margin-left: 100%
  }
}

@media screen and (min-width:992px) {
  .k-container {
    width: 970px
  }

  .k-col-md-1,.k-col-md-2,.k-col-md-3,.k-col-md-4,.k-col-md-5,.k-col-md-6,.k-col-md-7,.k-col-md-8,.k-col-md-9,.k-col-md-10,.k-col-md-11,.k-col-md-12 {
    float: left
  }

  .k-col-md-1 {
    width: 8.33333333%
  }

  .k-col-md-2 {
    width: 16.66666667%
  }

  .k-col-md-3 {
    width: 25%
  }

  .k-col-md-4 {
    width: 33.33333333%
  }

  .k-col-md-5 {
    width: 41.66666667%
  }

  .k-col-md-6 {
    width: 50%
  }

  .k-col-md-7 {
    width: 58.33333333%
  }

  .k-col-md-8 {
    width: 66.66666667%
  }

  .k-col-md-9 {
    width: 75%
  }

  .k-col-md-10 {
    width: 83.33333333%
  }

  .k-col-md-11 {
    width: 91.66666667%
  }

  .k-col-md-12 {
    width: 100%
  }

  .k-col-md-offset--1 {
    margin-left: 8.33333333%
  }

  .k-col-md-offset--2 {
    margin-left: 16.66666667%
  }

  .k-col-md-offset--3 {
    margin-left: 25%
  }

  .k-col-md-offset--4 {
    margin-left: 33.33333333%
  }

  .k-col-md-offset--5 {
    margin-left: 41.66666667%
  }

  .k-col-md-offset--6 {
    margin-left: 50%
  }

  .k-col-md-offset--7 {
    margin-left: 58.33333333%
  }

  .k-col-md-offset--8 {
    margin-left: 66.66666667%
  }

  .k-col-md-offset--9 {
    margin-left: 75%
  }

  .k-col-md-offset--10 {
    margin-left: 83.33333333%
  }

  .k-col-md-offset--11 {
    margin-left: 91.66666667%
  }

  .k-col-md-offset--12 {
    margin-left: 100%
  }
}

@media screen and (min-width:1200px) {
  .k-container {
    width: 1170px
  }

  .k-col-lg-1,.k-col-lg-2,.k-col-lg-3,.k-col-lg-4,.k-col-lg-5,.k-col-lg-6,.k-col-lg-7,.k-col-lg-8,.k-col-lg-9, .k-col-lg-10,.k-col-lg-11,.k-col-lg-12{
    float: left
  }

  .k-col-lg-1 {
    width: 8.33333333%
  }

  .k-col-lg-2 {
    width: 16.66666667%
  }

  .k-col-lg-3 {
    width: 25%
  }

  .k-col-lg-4 {
    width: 33.33333333%
  }

  .k-col-lg-5 {
    width: 41.66666667%
  }

  .k-col-lg-6 {
    width: 50%
  }

  .k-col-lg-7 {
    width: 58.33333333%
  }

  .k-col-lg-8 {
    width: 66.66666667%
  }

  .k-col-lg-9 {
    width: 75%
  }

  .k-col-lg-10 {
    width: 83.33333333%
  }

  .k-col-lg-11 {
    width: 91.66666667%
  }

  .k-col-lg-12 {
    width: 100%
  }

  .k-col-lg-offset-1 {
    margin-left: 8.33333333%
  }

  .k-col-lg-offset-2 {
    margin-left: 16.66666667%
  }

  .k-col-lg-offset-3 {
    margin-left: 25%
  }

  .k-col-lg-offset-4 {
    margin-left: 33.33333333%
  }

  .k-col-lg-offset-5 {
    margin-left: 41.66666667%
  }

  .k-col-lg-offset-6 {
    margin-left: 50%
  }

  .k-col-lg-offset-7 {
    margin-left: 58.33333333%
  }

  .k-col-lg-offset-8 {
    margin-left: 66.66666667%
  }

  .k-col-lg-offset-9 {
    margin-left: 75%
  }

  .k-col-lg-offset-10 {
    margin-left: 83.33333333%
  }

  .k-col-lg-offset-11 {
    margin-left: 91.66666667%
  }

  .k-col-lg-offset-12 {
    margin-left: 100%
  }
}

